main {
    background-color: lightblue;
    min-height: 100vh
}

.unhide {
    display: block;
}

.hide {
    display: none;
}

.output-label, .output-unit {
    display: none;
}

.superscript {
    vertical-align: super;
    font-size: x-small;
}