/* Generic site-wide style rules */

main {
    background-color: lightblue;
    min-height: 100vh
}

.unhide {
    display: block;
}

.hide {
    display: none;
}

.output-label, .output-unit {
    display: none;
}

.output-label {
    margin-block-end: 4px;
}

.output-number, .output-unit {
    font-weight: 700;
    font-size: large;
}

.superscript {
    vertical-align: super;
    font-size: x-small;
}

/* determinability page specific style rules */

#determinability-details-button, #determinability-details, #determinability-details-header {
    visibility: hidden;
}